# Update these with your Supabase details from your Project settings -> API
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_JWT_SECRET=

# Update this from Project Settings in your Descope Console
NEXT_PUBLIC_DESCOPE_PROJECT_ID=